
# ignoriamo il file bytecode che viene creato quando applichiamo il passo al file .ll mediante opt
# sarà l'utente a creareselo in locale
PrimoAssignement/Algebraic-Identity/Prova.Optimized.bc

# idem per il file Prova.Optimized.ll ricavato dal bytecode; sarà l'utente che prodotto il bytecode, genererà il file llvm da leggere
PrimoAssignement/Algebraic-Identity/Prova.Optimized.ll


# nascondiamo tutto ciò che andà dentro build

PrimoAssignement/Strenght-Reduction/Build/*


# nascondiamo tutto le ottimizzazioni .bc e .ll
PrimoAssignement/Strenght-Reduction./Optimized.*

PrimoAssignment/Multi-Instruction-Optimization/build/*
PrimoAssignment/Multi-Instruction-Optimization/Optimized.*

.vscode/c_cpp_properties.json
.vscode/settings.json
PrimoAssignement/.vscode/c_cpp_properties.json
PrimoAssignement/.vscode/settings.json
