
PrimoAssignement/Build/*
PrimoAssignement/Optimized.ll

.vscode/c_cpp_properties.json
.vscode/settings.json
PrimoAssignement/.vscode/c_cpp_properties.json
PrimoAssignement/.vscode/settings.json

TerzoAssignment/Build/*
TerzoAssignment/Optimized.ll